{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carpe Diem</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

</head>
<body>
    {% if request.user.is_authenticated %}
    <p>{{ request.user.username }}</p>
    <a href="{% url 'logout' %}">Logout</a>
     <div class = "container">
        <div class = "header">
            <div class = "logo">
                <img src="{% static 'images/logo.png' %}" width = "200px">
            </div>
    <!-- SEARCH AND CART BUTTONS -->
            <div class = "action">
                <button type="button" id="searchButton">
                    <img src="{% static 'images/search.png' %}" alt="Search">
                </button>

                <button type="button" id="cartButton">
                    <a href="{% url 'cart' %}">
                        <img src = "{% static 'images/cart.png' %}" alt="Cart">
                    </a>
                </button>
            </div>
        </div>
        
        <div class="title">
            <div class="title-1">
                <img src = "{% static 'images/s1.png' %}" width="300">
            </div>

            <div class="title-1">
                <h1 class="fw-bold">Spring-Summer 2024</h1>  
                <h2>Sneakers</h2>
            </div>
            
        </div>
        <div class="home-sneaker-container">
            {% for sneaker in sneakers %}
            {% if forloop.counter0|divisibleby:4 %}
            <div class="row">
            {% endif %}
                <div class="col-md-3">
                    <div class="sneaker">
                        <a href="{% url 'product_details' sneaker.sneaker_id %}">
                            <!-- Displaying the sneaker image dynamically -->
                            {% if sneaker.sneaker_id == 'S-1' %}
                                <img src="{% static 'images/s1.png' %}" class="img-fluid">
                            {% elif sneaker.sneaker_id == 'S-2' %}
                                <img src="{% static 'images/s2.png' %}" class="img-fluid">
                            {% elif sneaker.sneaker_id == 'S-3' %}
                                <img src="{% static 'images/s3.png' %}" class="img-fluid">
                            {% elif sneaker.sneaker_id == 'S-4' %}
                                <img src="{% static 'images/s4.png' %}" class="img-fluid">
                            {% elif sneaker.sneaker_id == 'S-5' %}
                                <img src="{% static 'images/s5.jpg' %}" class="img-fluid">
                            {% elif sneaker.sneaker_id == 'S-6' %}
                                <img src="{% static 'images/s6.png' %}" class="img-fluid">
                            {% elif sneaker.sneaker_id == 'S-7' %}
                                <img src="{% static 'images/s7.png' %}" class="img-fluid">
                            {% elif sneaker.sneaker_id == 'S-8' %}
                                <img src="{% static 'images/s8.png' %}" class="img-fluid">
                            {% elif sneaker.sneaker_id == 'S-9' %}
                                <img src="{% static 'images/s9.png' %}" class="img-fluid">
                            {% endif %}
                        </a>
                        <p>{{ sneaker.sneaker_name }}</p>
                    </div>
                </div>
            {% if forloop.counter|divisibleby:4 or forloop.last %}
            </div>
            {% endif %}
            {% endfor %}
        </div>
        
    </div> 
    {% else %}
    <a href="{% url 'login' %}">Login</a>
    <a href="{% url 'signup' %}">Signup</a>
  {% endif %}

</body>
</html>