{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carpe Diem - Cart</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>
    <div class="container">

        <!-- HEADER (LOGO, SEARCH, CART) -->
        <div class="header">

            <!-- LOGO -->
            <div class="logo">
                <img src="{% static 'images/logo.png' %}" width="200px" alt="Logo">
            </div>

            <!-- SEARCH AND CART BUTTONS -->
            <div class="buttons">
                <button type="button" id="searchButton">
                    <img src="{% static 'images/search.png' %}" alt="Search">
                </button>

                <button type="button" id="cartButton">
                    <img src= "{% static 'images/cart.png' %}" alt="Cart">
                </button>
            </div>
        </div>

        <!-- PAYMENT PAGE MAIN -->
        <main class="main">

            <!-- ORDER SUMMARY -->
            <div class="order-summary">
                <h4 class="fw-bold">Order Summary</h4>
                <h5 class="fw-bold">TOTAL: RM 7,230</h5>

                <div class="cart-product">

                    <img src="{% static 'images/s3.png' %}">

                    <div class="product-details">
                        <p class="fw-bold">VERY VIVIER STRASS BUCKLE SNEAKERS IN LEATHER</p>
                        <li>
                            BRAND: ROGER VIVIER<br>
                            SIZE: 6<br>
                            QUANTITY: 1<br>
                            PRICE: RM 3,200<br>
                        </li>
                    </div>

                    <img src="{% static 'images/s5.jpg' %}">

                    <div class="product-details">
                        <p class="fw-bold">LOW-TOP SNEAKERS IN PERFORATED LEATHER</p>
                        <li>
                            BRAND: YSL<br>
                            SIZE: 6<br>
                            QUANTITY: 1<br>
                            PRICE: RM 4,030<br>
                        </li>
                    </div>
                </div>
            </div>

            <!-- CUSTOMER DETAILS TO BE ENTERED -->
            <div class="customer-details">

                <div class="form">
                    <label for="email">
                        <h4>1. EMAIL</h4>
                    </label><br>
                    <input type="email" id="email" name="email" value=""><br><br>

                    <label for="address">
                        <h4>2. SHIPPING ADDRESS</h4>
                    </label><br>
                    <input type="text" id="address" name="address" value=""><br><br>

                    <label for="payment">
                        <h4>3. PAYMENT</h4>
                    </label><br>
                    <select name="payment" id="payment">
                        <option value="touch-n-go">T&G E-wallet</option>
                        <option value="card">Card</option>
                    </select>
                </div>

                <!-- PROCEED BUTTON -->
                <button type="button" class="btn btn-dark">PROCEED</button>
            </div>
        </main>
    </div>


    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
        integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
        integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
        crossorigin="anonymous"></script>
</body>

</html>